<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>


  <div class="container">
    <div class="row">
      <div class="search-hero">
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of heroes | filter:searchText">
          <td>{{hero.name}}</td>
          <td>{{hero.country}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
